body {
    font-family: Calibri, sans-serif;
    font-size: 13px;
    margin: 0;
}

a {
    color: #000;
    font-weight: bold;
}

.col-9 {
    float: left;
    width: 74%;
}

.col-8 {
    float: left;
    width: 66%;
}

.col-6 {
    float: left;
    width: 49%;
}

.col-4 {
    float: left;
    width: 33%;
}

.col-3 {
    float: left;
    width: 25%;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

ul {
    margin-top: 0px;
    padding-left: 15px;
}

.project-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.project-list li a {
    font-size: 12px;
}

.section {
    padding-top: 10px;
}

.section strong {
    margin-bottom: 4px;
    font-size: 20px;
}

.job {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.job-description ul {
    margin-top: 5px;
    margin-bottom: 0;
}